# SPDX-FileCopyrightText: 2015-2019 Tailordev
# SPDX-FileCopyrightText: 2020 The tt Authors
#
# SPDX-License-Identifier: GPL-3.0-or-later
# SPDX-License-Identifier: MIT

# editors and ides
.vscode/

# directories

build/
.cache/
dist/
docs/_gh-pages
.eggs/
htmlcov/
__pycache__/
site/
.tox/
.vagrant/
venv
.pytest_cache/

# files

.coverage
.DS_Store
.env
pip-delete-this-directory.txt
pip-log.txt
tags
.python-version

# patterns

*~
*.db
*.egg
*.egg-info
*.log
*.mo
*.pot
*.py[cod]
*.so
*.sublime-project
*.sublime-workspace
*.swp
*.sw[po]
